<!DOCTYPE html>
<html lang="en">
<head>
	{% import 'head.html' as hdr %}
	{{ hdr }}
	<style type="text/css">
		.thumb-image
		{
			 -float:left;
			 width:420px;
			 height:300px;
			 position:relative;
			 padding:2px;
			 border: 1px solid #014852;
			 border-radius:10px;
			 margin-bottom:6px;
		}

		.image
		{
			 width:650px;
			 height:430px;
			 position:relative;
			 padding:2px;
			 border: 1px solid #014852;
			 border-radius : 10px;
			 margin-bottom:6px;
		}
		#myBar{
			  display:none;
			  border: 1px solid #014852;
			  border-radius : 5px;
			  font-style:bold;
			  width: 13%;
			  height: 30px;
			  background-color: #4CAF50;
			  text-align: center; /* To center it horizontally (if you want) */
			  line-height: 30px; /* To center it vertically */
			  color: white;
		}
	</style>

    <!--script type="text/javascript">
    var c=1;
        function display_c()
        {   c = c+1;
            var refresh=200; // Refresh rate in milli seconds
            if(c < 100)
            {
            	mytime=setTimeout('display_ct()',refresh);
        	}
        }

        function display_ct()
        {   //var x = new Date()
        	document.getElementById('ct').style.display = "inline";
        	document.getElementById('ct').style.width = c * 100;
            document.getElementById('ct').innerHTML = c + ' % Processed';
            display_c();
         }
    </script-->
	<script type="text/javascript">
		function move()
		{
				if(document.getElementById('fileUpload').value == '')
            	{
                	alert('Please upload the image file');
                	return false;
            	}
                  var elem = document.getElementById("myBar");
                  elem.style.display = "block";
                  var width = 13;
                  var id = setInterval(frame, 700);
                  function frame()
                  {
                     if (width >= 100)
                     {
                         clearInterval(id);
                     }
                     else
                     {
                        width++;
                        elem.style.width = width*1 +'%';
                        elem.innerHTML = 'Processing';//width * 1 + '%';
                     }
                  }

    	}
	</script>

</head>

<body>
<div class="body">
	<fieldset>
		{% import 'header.html' as hd%}
		{{ hd }}

		<section>
			{% import 'nav.html' as nv %}
			{{ nv }}

			<article>
				<h3>Upload Image or Drag & Drop</h3>

				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

				<div id="wrapper" style="margin-top: 20px;">
					<form action="http://localhost:5000/imgview" method="POST" enctype="multipart/form-data">
						<input id="fileUpload" name="imgfileupload" type="file" required/>
						<br>
						<br>
						<div id="image-holder" ></div>

						{% if labels %}
							<select id="mySelect" name="label_name">
							{% for l in labels %}
								<option value="{{ l }}">{{ l }}</option>
							{% endfor %}
							</select>
						{% endif %}

						<input type="submit" value="Upload" onclick="move()" >
					</form>
				</div>
				<script>
				$(document).ready(function()
						{
						$("#fileUpload").on('change', function()
						{
						  //Get count of selected files
						  var countFiles = $(this)[0].files.length;
						  var imgPath = $(this)[0].value;
						  var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
						  var image_holder = $("#image-holder");
						  image_holder.empty();

						  $("#outimgholder").empty();
						  $("#msgdiv").empty();
						  $("#labeldiv").empty();
						  if ( extn == "png" || extn == "jpg" || extn == "jpeg" || extn == "bmp")
						  {
							if (typeof(FileReader) != "undefined")
							{
							  //loop for each file selected for uploaded.
							  for (var i = 0; i < countFiles; i++)
							  {
								var reader = new FileReader();
								reader.onload = function(e)
								{
								  $("<img />", {
									"src": e.target.result,
									"class": "thumb-image"
								  }).appendTo(image_holder);
								}
								image_holder.show();
								reader.readAsDataURL($(this)[0].files[i]);
							  }
							} else {
							  alert("This browser does not support FileReader.");
							}
						  } else {
							alert("Please select only images file (jpg, jpeg, bmp, png)!");
						  }
						});


					  });
				</script>
				<br>
				<br>
                <!--div id="ct" style="display:none; padding :10px; border :1px solid; border-radius:5px; font-size:20px; color:blue;"></div-->
				<div id="myProgress">
  					<div id="myBar"></div>
				</div>

				<div id="msgdiv" style="color:red;">
					{% if msg %}
						<h5>{{ msg }}</h5>
					{% endif %}
				</div>
				<div id="labeldiv">
					{% if label %}
					<h3>Object Masked : {{ label }}</h3>
					{% endif %}
				</div>
				<div id="outimgholder">
					{% if ifile%}
						<h5>Hover over image to view output</h5>
						<img class="image" src="{{ ifile }}"
							 onmouseover="this.src='{{ ofile }}'"
							 onmouseout="this.src='{{ ifile }}'" />
					{% endif %}
				</div>
			</article>
		</section>

		{% import 'footer.html' as ft %}
		{{ ft }}

</fieldset>
</div>
</body>
</html>
